@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* * {
    outline: 4px solid red; 
} */

.container{
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid {
    padding: 0;
}

h2{
    font-family: 'Fredoka One', cursive;
    font-size:2em;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding-bottom: 10px;
}

.section{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 350px;
}

.section_divp{
    padding-left:0px;
    margin:0px;
}

.section_div{
    display:flex; 
    justify-content: space-between;
    margin-top:40px;
}

.carousel-indicators {
    margin-left: 20%;
}
.carousel-indicators  li, .carousel-indicators .active  {
    width: 60px;
}

.col-md-5{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.section_oQueFazemos{
    background-color: #FFAD29;
}

.section_QuemSomos{
    background-color: whitesmoke;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    box-shadow: inset 0 0 50px 10px rgba(0,0,0, .1);
}

.quem-somo__img {
    width: 210px;
    border-radius: 3px;
}

.section_raio{
    background-color: #82AB4D;
}





@media(max-width: 768px) {
    .center{
    text-align: center;
    }
    .section_div{
    display:flex;
    justify-content: center;
    }
    .section{
        height: 100%;
    }

    .zoom{
        transform: scale(2.5);
        display:block;
        /* height: 342px; */

    }

    .carousel-item{
        height: 198px;;
    }

    .carrossel {
        margin-top: 65px;
    }

}
