@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-container {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items:center;
}

.form {
  margin-top: 5em;
  background-color:white;
  padding: 4em;
  border-radius: 10px;
}

.form-cadastro{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 300px;
  margin-top: 0em;
  background-color:white;
  padding: 4em;
  border-radius: 10px;
}

label {
  display: block;
}

input{
  outline: none;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 3px;
  padding: .5em .5em;
  margin: .5em 0;
  width: 180px;
}
input:focus{
  border: 2px solid rgb(75, 74, 74);
  box-shadow: 0px 0px 10px rgb(248, 248, 52);
}

.login-email-error, 
.login-password-error{
  color: red;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}

#cadastro-btn, #login-btn {
  width:100px;
  display: block;
  margin-bottom: 15px;
  background-color:#82AB4D; 
  outline: none;
  border:none;
}

#cadastro-btn:hover, #login-btn:hover{
  background-color:#3E7054;
}
.link-login, .link-cadastro {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.link-login:hover, .link-cadastro:hover {
  opacity: .8;
  transform: scale(1.3);
  transition: all 1s;
  color: black;
}
/*cadastro*/
.cadastro-form-container{
  display: none;
  margin-top: 30px; 
  height: 80vh;
  justify-content: center;
  align-items:center
}

.cadastro-email-error,
.cadastro-password-error, 
.cadastro-password-conf-error {
  color:red;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}

.cadastro__btn {
  display: flex;
  flex-direction: column;
}
