@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-container {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items:center;
}

.form {
  margin-top: 5em;
  background-color:white;
  padding: 4em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(168, 168, 168, 0.918);
}

.form-cadastro{
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 300px;
  margin-top: 0em;
  background-color:white;
  padding: 4em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(168, 168, 168, 0.918);
}

label {
  display: block;
}

input{
  outline: none;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 3px;
  padding: .5em .5em;
  margin: .5em 0;
  width: 180px;
}
input:focus{
  border: 2px solid rgb(75, 74, 74);
  box-shadow: 0px 0px 10px rgb(248, 248, 52);
}

.login-email-error, 
.login-password-error{
  color: red;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}

.link-cadastro, {
  display: block;
  text-align:center;
}
.link-login{
  display: block;
  margin-top: 30px;
  text-align:center;
}

#login-btn {
  display: block;
  margin: 6px auto;
}
#cadastro-btn {
  margin-top: 40px;
  height: 40px;
  width:100px;
}
/*cadastro*/
.cadastro-form-container{
  display: none;
  margin-top: 30px; 
  height: 80vh;
  justify-content: center;
  align-items:center
}

.cadastro-email-error,
.cadastro-password-error, 
.cadastro-password-conf-error {
  color:red;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}
