@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.form-container {
  margin-top: 3em;
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items:center;
}

.form {
  width: 600px;
  margin-top: 5em;
  background-color:white;
  padding: 4em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(168, 168, 168, 0.918);
}

label {
  display: block;
}

input{
  outline: none;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 3px;
  padding: .5em .5em;
  margin: .5em 0;
}
input:focus{
  border: 2px solid rgb(75, 74, 74);
  box-shadow: 0px 0px 10px rgb(248, 248, 52);
}

.login-email-error, 
.login-password-error{
  color: red;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}

/*cadastro*/
.cadastro-form-container{
  display: none;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items:center
}

.cadastro-email-error,
.cadastro-password-error, 
.cadastro-password-conf-error {
  color:red;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}