@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    box-sizing: border-box;
  }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #82AB4D;
    font-family: 'Lato', sans-serif;
  }
  
  .shopping-cart {
    width: 600px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  
  .title {
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 22px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    max-height: auto;
    display: flex;
    border-bottom: 1px solid #E1E8EE;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url(&quot;delete-icn.svg&quot;) no-repeat center;
  }
   
  
  .image {
    max-width: 100%;
    margin-right: 50px; 
  }
  
   .fotoItem {
     max-height: 100px;
     max-width: 100px;
   }
  
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
.botaoDireita{
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.botaoComprar{
  height: 100%;
  padding: 10px;
  background-color: #82AB4D;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 100;
  color: white;
}
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  
  .total-price {
    padding-top: 27px;
    text-align: center;
    font-size: 18px;
    color: #43484D;
    font-weight: 300;
  }

  .total{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #43484D;
    font-weight: 600;
  }
  
  .preco{
    padding-top: 20px;
    float: right;
    padding-right: 20px;
  }

  }

  @media (min-width: 800px) and (max-width: 1200px) {
    
    .shopping-cart {
      width: 600px;
      margin: 80px auto;
      background: #FFFFFF;
      box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }

    
  }

  @media (max-width: 800px) {
    .shopping-cart {
      display: flex;
      flex-direction: column;
      width: 90%;
      flex-wrap: wrap;
      justify-content: center;
    }
    .item {

      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;


    }

    .title {
      border-bottom: 2px solid #E1E8EE;
      text-align: center;
      font-size: 26px;
      font-weight: 400;
    } 
    .image,
    .quantity,
    .description {
      align-items: center;
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }

    .fotoItem{
    max-height: 200px;
    max-width: 200px;

    }
    .image{
      height: 100%;
    }

    .total{

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

    .preco{
      padding-left: 60px;
      padding-bottom:20px;
      font-size: 22px;
    }

    .description span {
      font-size: 20px;
  }

  .total-price{
    font-size: 22px;
    padding-top: 15px;
  }
}